.rectangle-41 {
  width: 1fr;
  height: 2px;
  opacity: 0.2;
  background: var(--3, #9c69e2);
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footerTitle {
  color: #212353;
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
}
.Info {
  color: var(--1, #4b5d68);
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
}
.Copyright {
  padding: 7% 0 0 25%;
  color: var(--2, #212353);
  font-family: Avenir;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 21.6px */
  letter-spacing: 0.12px;
  width: 50%;
}
.buttons {
  margin-top: 70px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.endLearnMoreButton {
  display: flex;
  width: 210px;
  height: 60px;
  justify-content: center;
  align-content: center;
  border-radius: 50px;
  background: var(--4, #f063b8);
}
.endLearnMoreText {
  margin-top: 14px;
  color: #fff;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
}
.arrow5 {
  width: 20px;
  height: 14px;
  align-self: center;
}
.endRequestDemoButton {
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
  width: 210px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
}

.endRequestDemoText {
  color: var(--2, #212353);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  letter-spacing: 0.08px;
  padding-top: 9%;
}
.message {
  bottom: 25px;
  position: fixed;
  right: 25px;
}

@media screen and (min-width: 2000px) {
  .Copyright {
    font-size: 21px;
  }
  .footerTitle {
    font-size: 50px;
  }
  .Info {
    font-size: 23px;
  }
  .text {
    font-size: larger;
  }
  .message {
    height: 100px;
    width: 100px;
  }
  .message > circle:hover {
    fill: #1504d7;
  }
  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 340px) {
  .end {
    margin-top: 200%;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .buttons {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .endlearnMoreButton {
    font-size: 10px;
    align-self: center;
    width: 210px;
    height: 60px;
    margin-left: 30px;
  }
  .endRequestDemoButton {
    align-self: flex-start;
    margin-left: 0px;
  }
  .text {
    font-size: 10px;
  }
  .message {
    height: 30px;
    width: 30px;
  }
  .Copyright {
    padding: 0;
    width: 100%;
  }
}
