.top {
  flex-shrink: 0;
  margin-left: 10%;
  margin-top: 3%;
}

header {
  align-items: center;
  display: flex;
}
.burger__div {
  display: none;
}
.standart {
  align-items: center;
  display: flex;
  gap: 40px;
  flex: 5;
}
.logo {
  align-items: flex-end;
  display: flex;
  gap: 9px;
  width: 49px;
  flex: 1;
}
.rectangle-1 {
  background-color: rgba(156, 105, 226, 1);
  border-radius: 20px;
  height: 20px;
  width: 20px;
}
.rectangle-2 {
  background-color: rgba(240, 99, 184, 1);
  border-radius: 20px;
  height: 35px;
  width: 20px;
}
.demoButton {
  margin-right: 25%;
  margin-left: 10%;
  align-self: center;
  display: flex;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  justify-content: space-between;
  align-content: center;
}
.arrow {
  padding: 10px 15px;
  width: 22px;
  height: 16px;
}
.textInDemoButton {
  padding: 10px 15px;

  color: var(--2, #212353);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.08px;
}

.menuText {
  display: flex;
  color: var(--1, #4b5d68);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  align-self: center;
}
.menuText1 {
  display: flex;
  flex-shrink: 0;
  align-self: center;
  color: var(--2, #212353);
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
}
.Headline {
  display: flex;
  flex-direction: column;
}
.Title {
  color: #212353;
  font-family: Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.image1 {
  margin-top: 7%;
  height: 468px;
  object-fit: cover;
  align-self: center;
}
.learnMoreButton {
  max-width: 30%;
  padding: 20px 25px;
  background-color: #9c69e2;
  border-radius: 50px;
  text-align: center;
  color: #fff;

  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}
.Text {
  flex-shrink: 0;

  color: var(--1, #4b5d68);
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  flex: 1;
}
.Greeting {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 2000px) {
  .top {
    margin-left: 15%;
    width: 80%;
  }
  .menuText {
    font-size: 28px;
  }
  .Text {
    font-size: x-large;
  }
  .learnMoreButton {
    width: 220px;
  }
  .image1 {
    margin-top: 6%;
  }
  .menuText1 {
    font-size: 28px;
  }
  .textInDemoButton {
    font-size: 28px;
    align-self: center;
  }
  .arrow {
    align-self: center;
    width: 33px;
    height: 25px;
  }
  .demoButton {
    height: 110px;
    width: 300px;
  }
}

@media screen and (max-width: 360px) {
  .marker {
    text-decoration: none;
  }
  .image1 {
    display: none;
  }
  .Greeting {
    display: contents;
  }
  .Text {
    width: 90%;
  }
  .demoButton {
    margin-right: 0px;
    margin-left: 0px;
  }
  .burger__div {
    display: flex;
    justify-content: left;
  }
  .standart {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  .close-menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .menu__box {
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu-toggle:checked + .menu-icon + .menu__box {
    height: 20%;
    padding-top: 40px;
  }

  .menu__list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .menu__item {
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }
  .button {
    text-decoration: none;
    color: var(--1, #4b5d68);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    align-self: center;
  }
  .learnMoreButton {
    max-width: 50%;
  }
}
