CardItemCart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Card {
  width: 350px;
  border-radius: 20px;
  background-color: lightgray;
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc(33.333% - 20px); 
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.cardFooter p {
  margin: 0;
}