.cardFooter{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.primaryButtonViewMore {
    margin: 0 auto; 
}

.Card {
  width: 350px;
  border-radius: 20px;
  background-color: lightgray;
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc(33.333% - 20px); 
}

.cardPoles{
    text-align: left
}