.Cart {
  text-align: center;
}

.CardItemsCart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.purchasingCard{
  background-color: lightgrey;
  border: 20px;
  font-size: 20px;
  margin-top: 50px;
}