
Form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

Button {
  margin-top: 15px;
  border-color: black;
}

.backToCart{
  margin-left: 165px;
}
